[submodule "sourcedata/spacetop-prep"]
	path = code/spacetop-prep
	url = https://github.com/spatialtopology/spacetop-prep.git
	datalad-url = https://github.com/spatialtopology/spacetop-prep.git
[submodule "code/containers"]
	path = code/containers
	url = https://datasets.datalad.org/repronim/containers/.git
	datalad-id = b02e63c2-62c1-11e9-82b0-52540040489c
	datalad-url = ///repronim/containers
